@import "../../node_modules/bootstrap/scss/bootstrap";

$greenButton: #1ecb0e;
$white: #ffffff;
$gray: #eeeeee;
$grayThinLight: #dddddd;
$grayLight: #cccccc;
$grayLighter: #f9f9f9;
$grayDark: #888888;
$horizontalLine: #00a2ff;
