$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "../node_modules/bootstrap/scss/bootstrap";
@import './styles/_variables.scss';

* {
  padding: 0;
  margin: 0;
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  @include color(#000000, $opacity: 90);
}
body {
  color: $darkGray3;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

input[type=text],
input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


code {
    margin: 20px;
    display: block;
    padding: 20px;
    background: #e7ecf4;
    .code--output {
      background-color: #ccc;
      margin: 20px -20px;
      &:last-child {
        margin-bottom: -20px;
      }
    }
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  font-weight: 700;
  box-sizing: border-box;
  &[disabled] {
    background-color: $grayLight;
  }
  &:hover {
    opacity: 0.8;
  }
}
hr {
  border-color: $horizontalLine;
}
.product-card {
  flex: 45%;
  margin: 15px 0;
  &-container {
    display: flex;
    flex-wrap: wrap;
  }
}

ul {
  &.todo-list {
    margin: 0;
    padding: 0;
    li {
      cursor: pointer;
      position: relative;
      padding: 12px 8px 12px 40px;
      list-style-type: none;
      background: $gray;
      font-size: 18px;
      transition: 0.2s;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:nth-child(odd) {
        background: $grayLighter;
      }
      &:hover {
        background: $grayThinLight;
      }
      &.checked {
        background: $grayDark;
        color: $white;
        text-decoration: line-through;
        &::before {
          content: "";
          position: absolute;
          border-color: $white;
          border-style: solid;
          border-width: 0 2px 2px 0;
          top: 10px;
          left: 16px;
          transform: rotate(45deg);
          height: 15px;
          width: 7px;
        }
      }
    }
  }
}

.create-list {
  background: #eee;
  /* padding: 25px;
    height: 100vh; */
}
.create-list h4 {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
.create-list ul {
  list-style: none;
}

.button-sec {
  padding: 15px;
  background: #d2d6d2;
}

.line-through {
  text-decoration: line-through;
}

table {
  width: 100%;
}
table th,
table td {
  padding: 10px;
}

/* table th:nth-child(even),
  table td:nth-child(even) {
    background-color: #f3f3f3;
  } */

table th {
  background-color: #00a2ff;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f3f3f3;
}

table th:last-child,
table td:last-child {
  border-right: 1px solid transparent;
}

@media screen and (max-width: 768px) {
  table thead {
    display: none;
  }
  table,
  table tbody,
  table tbody tr,
  table tbody tr td {
    display: block;
    width: 100%;
    text-align: right;
  }
  table tbody tr {
    border: 1px solid #f3f3f3;
    margin-bottom: 25px;
  }
  table tbody tr td {
    border-bottom: 1px solid #f3f3f3;
    position: relative;
  }
  table tbody tr td:before {
    content: attr(data-type);
    text-align: left;
    position: absolute;
    left: 0;
    background: #00a2ff;
    width: 100px;
    color: #fff;
    padding: 10px;
    top: 0;
  }
}

