$greenButton: #1ecb0e;
$white: #ffffff;
$gray: #eeeeee;
$grayThinLight: #dddddd;
$grayLight: #cccccc;
$grayLighter: #f9f9f9;
$grayDark: #888888;
$horizontalLine: #00a2ff;

input {
  &[type="text"] {
    padding: 10px;
    border: 0;
    width: 45%;
  }
}
button {
  width: 26.5%;
  border: 1px solid $gray;
  background-color: $greenButton;
  padding: 10px;
  color: $white;
  font-weight: 700;
  box-sizing: border-box;
  &[disabled] {
    background-color: $grayLight;
  }
}
hr {
  border-color: $horizontalLine;
}
.product-card {
  flex: 45%;
  margin: 15px 0;
  &-container {
    display: flex;
    flex-wrap: wrap;
  }
}

ul {
  &.todo-list {
    margin: 0;
    padding: 0;
    li {
      cursor: pointer;
      position: relative;
      padding: 12px 8px 12px 40px;
      list-style-type: none;
      background: $gray;
      font-size: 18px;
      transition: 0.2s;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:nth-child(odd) {
        background: $grayLighter;
      }
      &:hover {
        background: $grayThinLight;
      }
      &.checked {
        background: $grayDark;
        color: $white;
        text-decoration: line-through;
        &::before {
          content: "";
          position: absolute;
          border-color: $white;
          border-style: solid;
          border-width: 0 2px 2px 0;
          top: 10px;
          left: 16px;
          transform: rotate(45deg);
          height: 15px;
          width: 7px;
        }
      }
    }
  }
}

.create-list {
  background: #eee;
  /* padding: 25px;
    height: 100vh; */
}
.create-list h4 {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
.create-list ul {
  list-style: none;
}

.button-sec {
  padding: 15px;
  background: #d2d6d2;
}

.line-through {
  text-decoration: line-through;
}

table {
  width: 100%;
}
table th,
table td {
  padding: 10px;
}

/* table th:nth-child(even),
  table td:nth-child(even) {
    background-color: #f3f3f3;
  } */

table th {
  background-color: #00a2ff;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f3f3f3;
}

table th:last-child,
table td:last-child {
  border-right: 1px solid transparent;
}

@media screen and (max-width: 768px) {
  table thead {
    display: none;
  }
  table,
  table tbody,
  table tbody tr,
  table tbody tr td {
    display: block;
    width: 100%;
    text-align: right;
  }
  table tbody tr {
    border: 1px solid #f3f3f3;
    margin-bottom: 25px;
  }
  table tbody tr td {
    border-bottom: 1px solid #f3f3f3;
    position: relative;
  }
  table tbody tr td:before {
    content: attr(data-type);
    text-align: left;
    position: absolute;
    left: 0;
    background: #00a2ff;
    width: 100px;
    color: #fff;
    padding: 10px;
    top: 0;
  }
}
