@import '~bootstrap';
@import '~font-awesome';
/* @import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
@import 'https://use.fontawesome.com/releases/v5.7.0/css/all.css'; */

ul.todo-list {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul.todo-list li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul.todo-list li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul.todo-list li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul.todo-list li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul.todo-list li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

input[type='text'] {
  padding: 10px;
  border: 0;
  width: 45%;
}
button {
  width: 26.5%;
  border: 1px solid #eee;
  background-color: rgb(30, 203, 14);
  padding: 10px;
  color: #fff;
  font-weight: 700;
  box-sizing: border-box;
}
button[disabled] {
  background-color: rgb(204, 204, 204);
}
hr {
  border-color: rgb(0, 162, 255);
}
.product-card-container {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  flex: 45%;
  margin: 15px 0;
}
/* .product-card:nth-child(even) {
  margin-left: 30px;
} */
